body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.clearButton {
    background: none;
    border: none;
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
}

#top-header {
    display: flex;
    justify-content: space-between;
}

#types {
    display: flex;
    overflow-x: auto;
}

#types button {
    white-space: nowrap;
}

#videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidepanel {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}