body {
    margin: 0;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
}

.sidePanelButton {
    background: none;
    border: none;
    cursor: pointer;
    fill: white;
}

.sidePanelButton svg {
    width: 24px;
    height: 24px;
}

.logo {
    width: 90px;
    height: 20px;
    fill: white;
}

#center {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#categories {
    display: flex;
    margin: 1em 0;
}

main {
    display: flex;
}

#sidePanel {
    width: 4.5em;
}

#videos {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
}

#sidePanelOverlay {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15em;
}

#sidePanelOverlay.toggled {
    display: flex;
}

#sidePanelOverlay ul {
    overflow-y: auto;
}

@media only screen and (min-width: 650px) {
    #center {
        display: block;
    }

    #magnifier {
        display: none;
    }
}

@media only screen and (min-width: 680px) {
    #videos {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1080px) {
    #videos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1300px) {
    #sidePanel.expanded {
        width: 15em;
    }
}

@media only screen and (min-width: 1400px) {
    #videos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1730px) {
    #videos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 2060px) {
    #videos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}